@function cal($num){
	@return $num/20;
}

.hot-door{
	margin-left:cal(95rem);
		.one{
			border-top:1px solid #d9d9d9;
			width:cal(25rem);
			display:inline-block;
		}
		.door{
			color:#333;
			font-size:cal(12rem);
			font-weight:700;
			display:inline-block;
		}
		.two{
			border-top:1px solid #d9d9d9;
			width:cal(25rem);
			display:inline-block;
		}
}
.hot-bazaar{
	margin-top:cal(5rem);
		.first{
			float:left;
			padding-right:cal(5rem);	
				.jian{
					height:cal(64rem);
					margin-left:cal(10rem);
				}
				.one-pic{
					font-size:cal(12rem);
					color:#333;
					margin-top:cal(5rem);
					margin-left:cal(17rem);
				}
		}
		.first3{
			float:left;
			padding-right:cal(5rem);	
				.jian{
					height:cal(64rem);
					margin-left:cal(10rem);
				}
				.one-pic{
					font-size:cal(12rem);
					color:#333;
					margin-top:cal(5rem);
					margin-left:cal(29rem);
				}
		}
		.first4{
			float:left;
			padding-right:cal(5rem);	
				.jian{
					height:cal(64rem);
					margin-left:cal(10rem);
				}
				.one-pic{
					font-size:cal(12rem);
					color:#333;
					margin-top:cal(5rem);
					margin-left:cal(25rem);
				}
		}
		.second{
			float:left;
			padding-right:cal(5rem);	
				.yue{
					height:cal(64rem);
					margin-left:cal(10rem);
				}
				.two-pic{
					font-size:cal(12rem);
					color:#333;
					margin-top:cal(10rem);
					margin-left:cal(17rem);
				}
		}
		.second4{
			float:left;
			padding-right:cal(5rem);	
				.yue{
					height:cal(64rem);
					margin-left:cal(10rem);
				}
				.two-pic{
					font-size:cal(12rem);
					color:#333;
					margin-top:cal(10rem);
					margin-left:cal(25rem);
				}
		}
		.third{
			float:left;
			padding-right:cal(5rem);	
				.mei{
					height:cal(64rem);
					margin-left:cal(10rem);
				}
				.three-pic{
					font-size:cal(12rem);
					color:#333;
					margin-top:cal(10rem);
					margin-left:cal(25rem);
				}
		}
		.third2{
			float:left;
			padding-right:cal(5rem);	
				.mei{
					height:cal(64rem);
					margin-left:cal(10rem);
				}
				.three-pic{
					font-size:cal(12rem);
					color:#333;
					margin-top:cal(10rem);
					margin-left:cal(25rem);
				}
		}
		.third3{
			float:left;
			padding-right:cal(5rem);	
				.mei{
					height:cal(64rem);
					margin-left:cal(10rem);
				}
				.three-pic{
					font-size:cal(12rem);
					color:#333;
					margin-top:cal(10rem);
					margin-left:cal(25rem);
				}
		}
		.third4{
			float:left;
			padding-right:cal(5rem);
			margin-bottom:cal(17rem);	
				.mei{
					height:cal(64rem);
					margin-left:cal(10rem);
				}
				.three-pic{
					font-size:cal(12rem);
					color:#333;
					margin-top:cal(10rem);
					margin-left:cal(17rem);
				}
		}
}
.betw{
	height:cal(9rem);
	width:100%;
	background:#f6f6f6;
	overflow:hidden;
}
.yolik{
	.like{
		margin-left:cal(95rem);
			.qin{
				border-top:1px solid #d9d9d9;
				width:cal(25rem);
				display:inline-block;
			}
			.zho{
				color:#333;
				font-size:cal(12rem);
				font-weight:700;
				display:inline-block;
				line-height:cal(53rem);
			}
			.hu{
				border-top:1px solid #d9d9d9;
				width:cal(25rem);
				display:inline-block;
			}
	}
}
.fad{
	padding-bottom:cal(100rem);
	.pop{
		float:left;
		padding-right:cal(5rem);	
		margin-top:cal(-10rem);
			.bag{
				height:cal(64rem);
				margin-left:cal(10rem);
			}
			.mini{
				font-size:cal(12rem);
				color:#333;
				margin-top:cal(5rem);
				margin-left:cal(17rem);
			}
	}
}	
.botm{
	background:#f6f6f6;
		.yolik1{
			.like{
				margin-left:cal(95rem);
					.qin{
						border-top:1px solid #d9d9d9;
						width:cal(25rem);
						display:inline-block;
					}
					.zho{
						color:#333;
						font-size:cal(12rem);
						font-weight:700;
						display:inline-block;
						line-height:cal(53rem);
					}
					.hu{
						border-top:1px solid #d9d9d9;
						width:cal(25rem);
						display:inline-block;
					}
			}
		}
		.sift{
			height:cal(31rem);
			background:#ff0077;
				#jix{
					font-size:cal(12rem);
					color:#fff;
					line-height:cal(31rem);
					padding-left:cal(20rem);
					padding-right:cal(45rem);
				}
				#xjb{
					font-size:cal(11rem);
					color:#fff;
					line-height:cal(31rem);
					padding-right:cal(31rem);
				}
				#sjb{
					font-size:cal(11rem);
					color:#fff;
					line-height:cal(31rem);
					padding-right:cal(31rem);
				}
				#stb{
					font-size:cal(11rem);
					color:#fff;
					line-height:cal(31rem);
					padding-right:cal(31rem);
				}
		}
		.transverseline{
			margin-top:cal(4rem);
			background:#333;
			border-bottom:1px solid #cdcdcd;
			box-shadow:0 cal(1rem) cal(1rem) cal(1rem) #e2e2e2;
		}
		.let{
			height:cal(264rem);
			width:cal(151rem);
			background:#fff;
			margin-top:cal(6rem);
			margin-left:cal(6rem);
			font-family:'iconfont';
				.lef-pict{
					height:cal(197rem);
					width:cal(151rem);
					border-radius:2px;
				}
				.lol{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(41rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(7rem);
				}
				.los{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(41rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(58rem);
					margin-top:cal(-22rem);
				}
				.mone{
					font-size:cal(10rem);
					font-weight:700;
					padding-left:cal(8rem);
					margin-top:cal(15rem);
				}
				.mon{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(85rem);
					margin-top:cal(-13rem);
					float:left;
				}
				.moe{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(134rem);
					margin-top:cal(-12rem);
				}
		}
		.rig{
			height:cal(264rem);
			width:cal(151rem);
			background:#fff;
			margin-left:cal(163rem);
			margin-top:cal(-264rem);
			font-family:'iconfont';
				.lef-pict{
					height:cal(197rem);
					width:cal(151rem);
					border-radius:2px;
				}
				.lol{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(31rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(7rem);
				}
				.los{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(65rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(48rem);
					margin-top:cal(-22rem);
				}
				.mone{
					font-size:cal(10rem);
					font-weight:700;
					padding-left:cal(8rem);
					margin-top:cal(15rem);
				}
				.mon{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(85rem);
					margin-top:cal(-13rem);
					float:left;
				}
				.moe{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(134rem);
					margin-top:cal(-12rem);
				}
		}
		.let1{
			height:cal(264rem);
			width:cal(151rem);
			background:#fff;
			margin-top:cal(6rem);
			margin-left:cal(6rem);
			font-family:'iconfont';
				.lef-pict{
					height:cal(197rem);
					width:cal(151rem);
					border-radius:2px;
				}
				.lol{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(41rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(7rem);
				}
				.los{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(41rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(58rem);
					margin-top:cal(-22rem);
				}
				.mone{
					font-size:cal(10rem);
					font-weight:700;
					padding-left:cal(8rem);
					margin-top:cal(15rem);
				}
				.mon{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(85rem);
					margin-top:cal(-13rem);
					float:left;
				}
				.moe{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(134rem);
					margin-top:cal(-12rem);
				}
		}
		.rig1{
			height:cal(264rem);
			width:cal(151rem);
			background:#fff;
			margin-left:cal(163rem);
			margin-top:cal(-264rem);
			font-family:'iconfont';
				.lef-pict{
					height:cal(197rem);
					width:cal(151rem);
					border-radius:2px;
				}
				.lol{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(31rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(7rem);
				}
				.los{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(65rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(48rem);
					margin-top:cal(-22rem);
				}
				.mone{
					font-size:cal(10rem);
					font-weight:700;
					padding-left:cal(8rem);
					margin-top:cal(15rem);
				}
				.mon{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(85rem);
					margin-top:cal(-13rem);
					float:left;
				}
				.moe{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(134rem);
					margin-top:cal(-12rem);
				}
		}
		.let2{
			height:cal(264rem);
			width:cal(151rem);
			background:#fff;
			margin-top:cal(6rem);
			margin-left:cal(6rem);
			font-family:'iconfont';
				.lef-pict{
					height:cal(197rem);
					width:cal(151rem);
					border-radius:2px;
				}
				.lol{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(41rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(7rem);
				}
				.los{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(41rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(58rem);
					margin-top:cal(-22rem);
				}
				.mone{
					font-size:cal(10rem);
					font-weight:700;
					padding-left:cal(8rem);
					margin-top:cal(15rem);
				}
				.mon{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(85rem);
					margin-top:cal(-13rem);
					float:left;
				}
				.moe{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(134rem);
					margin-top:cal(-12rem);
				}
		}
		.rig2{
			height:cal(264rem);
			width:cal(151rem);
			background:#fff;
			margin-left:cal(163rem);
			margin-top:cal(-264rem);
			font-family:'iconfont';
				.lef-pict{
					height:cal(197rem);
					width:cal(151rem);
					border-radius:2px;
				}
				.lol{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(31rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(7rem);
				}
				.los{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(65rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(48rem);
					margin-top:cal(-22rem);
				}
				.mone{
					font-size:cal(10rem);
					font-weight:700;
					padding-left:cal(8rem);
					margin-top:cal(15rem);
				}
				.mon{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(85rem);
					margin-top:cal(-13rem);
					float:left;
				}
				.moe{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(134rem);
					margin-top:cal(-12rem);
				}
		}
		.let3{
			height:cal(264rem);
			width:cal(151rem);
			background:#fff;
			margin-top:cal(6rem);
			margin-left:cal(6rem);
			font-family:'iconfont';
				.lef-pict{
					height:cal(197rem);
					width:cal(151rem);
					border-radius:2px;
				}
				.lol{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(41rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(7rem);
				}
				.los{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(41rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(58rem);
					margin-top:cal(-22rem);
				}
				.mone{
					font-size:cal(10rem);
					font-weight:700;
					padding-left:cal(8rem);
					margin-top:cal(15rem);
				}
				.mon{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(85rem);
					margin-top:cal(-13rem);
					float:left;
				}
				.moe{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(134rem);
					margin-top:cal(-12rem);
				}
		}
		.rig3{
			height:cal(264rem);
			width:cal(151rem);
			background:#fff;
			margin-left:cal(163rem);
			margin-top:cal(-264rem);
			font-family:'iconfont';
				.lef-pict{
					height:cal(197rem);
					width:cal(151rem);
					border-radius:2px;
				}
				.lol{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(31rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(7rem);
				}
				.los{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(65rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(48rem);
					margin-top:cal(-22rem);
				}
				.mone{
					font-size:cal(10rem);
					font-weight:700;
					padding-left:cal(8rem);
					margin-top:cal(15rem);
				}
				.mon{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(85rem);
					margin-top:cal(-13rem);
					float:left;
				}
				.moe{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(134rem);
					margin-top:cal(-12rem);
				}
		}
		.let4{
			height:cal(264rem);
			width:cal(151rem);
			background:#fff;
			margin-top:cal(6rem);
			margin-left:cal(6rem);
			font-family:'iconfont';
				.lef-pict{
					height:cal(197rem);
					width:cal(151rem);
					border-radius:2px;
				}
				.lol{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(41rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(7rem);
				}
				.los{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(41rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(58rem);
					margin-top:cal(-22rem);
				}
				.mone{
					font-size:cal(10rem);
					font-weight:700;
					padding-left:cal(8rem);
					margin-top:cal(15rem);
				}
				.mon{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(85rem);
					margin-top:cal(-13rem);
					float:left;
				}
				.moe{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(134rem);
					margin-top:cal(-12rem);
				}
		}
		.rig4{
			height:cal(264rem);
			width:cal(151rem);
			background:#fff;
			margin-left:cal(163rem);
			margin-top:cal(-264rem);
			font-family:'iconfont';
				.lef-pict{
					height:cal(197rem);
					width:cal(151rem);
					border-radius:2px;
				}
				.lol{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(31rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(7rem);
				}
				.los{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(65rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(48rem);
					margin-top:cal(-22rem);
				}
				.mone{
					font-size:cal(10rem);
					font-weight:700;
					padding-left:cal(8rem);
					margin-top:cal(15rem);
				}
				.mon{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(85rem);
					margin-top:cal(-13rem);
					float:left;
				}
				.moe{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(134rem);
					margin-top:cal(-12rem);
				}
		}
		.let5{
			height:cal(264rem);
			width:cal(151rem);
			background:#fff;
			margin-top:cal(6rem);
			margin-left:cal(6rem);
			font-family:'iconfont';
				.lef-pict{
					height:cal(197rem);
					width:cal(151rem);
					border-radius:2px;
				}
				.lol{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(41rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(7rem);
				}
				.los{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(41rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(58rem);
					margin-top:cal(-22rem);
				}
				.mone{
					font-size:cal(10rem);
					font-weight:700;
					padding-left:cal(8rem);
					margin-top:cal(15rem);
				}
				.mon{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(85rem);
					margin-top:cal(-13rem);
					float:left;
				}
				.moe{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(134rem);
					margin-top:cal(-12rem);
				}
		}
		.rig5{
			height:cal(264rem);
			width:cal(151rem);
			background:#fff;
			margin-left:cal(163rem);
			margin-top:cal(-264rem);
			font-family:'iconfont';
				.lef-pict{
					height:cal(197rem);
					width:cal(151rem);
					border-radius:2px;
				}
				.lol{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(31rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(7rem);
				}
				.los{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(65rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(48rem);
					margin-top:cal(-22rem);
				}
				.mone{
					font-size:cal(10rem);
					font-weight:700;
					padding-left:cal(8rem);
					margin-top:cal(15rem);
				}
				.mon{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(85rem);
					margin-top:cal(-13rem);
					float:left;
				}
				.moe{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(134rem);
					margin-top:cal(-12rem);
				}
		}
		.let6{
			height:cal(264rem);
			width:cal(151rem);
			background:#fff;
			margin-top:cal(6rem);
			margin-left:cal(6rem);
			font-family:'iconfont';
				.lef-pict{
					height:cal(197rem);
					width:cal(151rem);
					border-radius:2px;
				}
				.lol{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(41rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(7rem);
				}
				.los{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(41rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(58rem);
					margin-top:cal(-22rem);
				}
				.mone{
					font-size:cal(10rem);
					font-weight:700;
					padding-left:cal(8rem);
					margin-top:cal(15rem);
				}
				.mon{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(85rem);
					margin-top:cal(-13rem);
					float:left;
				}
				.moe{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(134rem);
					margin-top:cal(-12rem);
				}
		}
		.rig6{
			height:cal(264rem);
			width:cal(151rem);
			background:#fff;
			margin-left:cal(163rem);
			margin-top:cal(-264rem);
			font-family:'iconfont';
				.lef-pict{
					height:cal(197rem);
					width:cal(151rem);
					border-radius:2px;
				}
				.lol{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(31rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(7rem);
				}
				.los{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(65rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(48rem);
					margin-top:cal(-22rem);
				}
				.mone{
					font-size:cal(10rem);
					font-weight:700;
					padding-left:cal(8rem);
					margin-top:cal(15rem);
				}
				.mon{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(85rem);
					margin-top:cal(-13rem);
					float:left;
				}
				.moe{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(134rem);
					margin-top:cal(-12rem);
				}
		}
		.let7{
			height:cal(264rem);
			width:cal(151rem);
			background:#fff;
			margin-top:cal(6rem);
			margin-left:cal(6rem);
			font-family:'iconfont';
				.lef-pict{
					height:cal(197rem);
					width:cal(151rem);
					border-radius:2px;
				}
				.lol{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(41rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(7rem);
				}
				.los{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(41rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(58rem);
					margin-top:cal(-22rem);
				}
				.mone{
					font-size:cal(10rem);
					font-weight:700;
					padding-left:cal(8rem);
					margin-top:cal(15rem);
				}
				.mon{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(85rem);
					margin-top:cal(-13rem);
					float:left;
				}
				.moe{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(134rem);
					margin-top:cal(-12rem);
				}
		}
		.rig7{
			height:cal(264rem);
			width:cal(151rem);
			background:#fff;
			margin-left:cal(163rem);
			margin-top:cal(-264rem);
			font-family:'iconfont';
				.lef-pict{
					height:cal(197rem);
					width:cal(151rem);
					border-radius:2px;
				}
				.lol{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(31rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(7rem);
				}
				.los{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(65rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(48rem);
					margin-top:cal(-22rem);
				}
				.mone{
					font-size:cal(10rem);
					font-weight:700;
					padding-left:cal(8rem);
					margin-top:cal(15rem);
				}
				.mon{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(85rem);
					margin-top:cal(-13rem);
					float:left;
				}
				.moe{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(134rem);
					margin-top:cal(-12rem);
				}
		}
		.let8{
			height:cal(264rem);
			width:cal(151rem);
			background:#fff;
			margin-top:cal(6rem);
			margin-left:cal(6rem);
			font-family:'iconfont';
				.lef-pict{
					height:cal(197rem);
					width:cal(151rem);
					border-radius:2px;
				}
				.lol{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(41rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(7rem);
				}
				.los{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(41rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(58rem);
					margin-top:cal(-22rem);
				}
				.mone{
					font-size:cal(10rem);
					font-weight:700;
					padding-left:cal(8rem);
					margin-top:cal(15rem);
				}
				.mon{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(85rem);
					margin-top:cal(-13rem);
					float:left;
				}
				.moe{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(134rem);
					margin-top:cal(-12rem);
				}
		}
		.rig8{
			height:cal(264rem);
			width:cal(151rem);
			background:#fff;
			margin-left:cal(163rem);
			margin-top:cal(-264rem);
			font-family:'iconfont';
				.lef-pict{
					height:cal(197rem);
					width:cal(151rem);
					border-radius:2px;
				}
				.lol{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(31rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(7rem);
				}
				.los{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(65rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(48rem);
					margin-top:cal(-22rem);
				}
				.mone{
					font-size:cal(10rem);
					font-weight:700;
					padding-left:cal(8rem);
					margin-top:cal(15rem);
				}
				.mon{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(85rem);
					margin-top:cal(-13rem);
					float:left;
				}
				.moe{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(134rem);
					margin-top:cal(-12rem);
				}
		}
		.let9{
			height:cal(264rem);
			width:cal(151rem);
			background:#fff;
			margin-top:cal(6rem);
			margin-left:cal(6rem);
			font-family:'iconfont';
				.lef-pict{
					height:cal(197rem);
					width:cal(151rem);
					border-radius:2px;
				}
				.lol{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(41rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(7rem);
				}
				.los{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(41rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(58rem);
					margin-top:cal(-22rem);
				}
				.mone{
					font-size:cal(10rem);
					font-weight:700;
					padding-left:cal(8rem);
					margin-top:cal(15rem);
				}
				.mon{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(85rem);
					margin-top:cal(-13rem);
					float:left;
				}
				.moe{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(134rem);
					margin-top:cal(-12rem);
				}
		}
		.rig9{
			height:cal(264rem);
			width:cal(151rem);
			background:#fff;
			margin-left:cal(163rem);
			margin-top:cal(-264rem);
			font-family:'iconfont';
				.lef-pict{
					height:cal(197rem);
					width:cal(151rem);
					border-radius:2px;
				}
				.lol{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(31rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(7rem);
				}
				.los{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(65rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(48rem);
					margin-top:cal(-22rem);
				}
				.mone{
					font-size:cal(10rem);
					font-weight:700;
					padding-left:cal(8rem);
					margin-top:cal(15rem);
				}
				.mon{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(85rem);
					margin-top:cal(-13rem);
					float:left;
				}
				.moe{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(134rem);
					margin-top:cal(-12rem);
				}
		}
		.let10{
			height:cal(264rem);
			width:cal(151rem);
			background:#fff;
			margin-top:cal(6rem);
			margin-left:cal(6rem);
			font-family:'iconfont';
				.lef-pict{
					height:cal(197rem);
					width:cal(151rem);
					border-radius:2px;
				}
				.lol{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(41rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(7rem);
				}
				.los{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(41rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(58rem);
					margin-top:cal(-22rem);
				}
				.mone{
					font-size:cal(10rem);
					font-weight:700;
					padding-left:cal(8rem);
					margin-top:cal(15rem);
				}
				.mon{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(85rem);
					margin-top:cal(-13rem);
					float:left;
				}
				.moe{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(134rem);
					margin-top:cal(-12rem);
				}
		}
		.rig10{
			height:cal(264rem);
			width:cal(151rem);
			background:#fff;
			margin-left:cal(163rem);
			margin-top:cal(-264rem);
			font-family:'iconfont';
				.lef-pict{
					height:cal(197rem);
					width:cal(151rem);
					border-radius:2px;
				}
				.lol{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(31rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(7rem);
				}
				.los{
					font-size:cal(12rem);
					color:#5a6f7a;
					width:cal(65rem);
					height:cal(16rem);
					background:#eff3f6;
					text-align:center;
					line-height:cal(16rem);
					padding:3px;
					margin-left:cal(48rem);
					margin-top:cal(-22rem);
				}
				.mone{
					font-size:cal(10rem);
					font-weight:700;
					padding-left:cal(8rem);
					margin-top:cal(15rem);
				}
				.mon{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(85rem);
					margin-top:cal(-13rem);
					float:left;
				}
				.moe{
					font-size:cal(10rem);
					font-weight:700;
					color:#999;
					margin-left:cal(134rem);
					margin-top:cal(-12rem);
				}
		}
}